* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 254, 254);
}

.container {
    width: 100%;

    justify-content: space-around;

}

.content {
    display: flex;
    padding: 50px;
    justify-content: space-around;
}

.content h1 {
    display: flex;

}

.logo img{
  
    width:150px;
    height:150px;
    padding-bottom: 20px;

}

.search_bar {
    width: 40%;
    align-items: center;
}

.search_bar input {
    width: 60%;
    padding: 15px;
    background-color: rgb(199, 199, 199);
    align-items: center;
    border-radius: 8px;
    font-weight: 600;
    color: rgb(4, 3, 3);
    outline: none;
    border: none;
}

.search_bar button {
    font-weight: 600;
    padding: 10px;
    margin: 10px;
    background: rgb(112, 11, 214);
    border-radius: 8px;
    outline: none;
    border: none;
}

.main_contents {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 20px;
}

.card_s {
    width: 90%;
    padding: 20px;
   
    flex-wrap: wrap;
    display: flex;
    gap: 50px;
    text-align: center;
}

.view_cart {
    width:25%;
    height: 150vh;
    padding: 30px;
    text-align: center;

}

#img1 {
    width: 250px;
    height: 250px;
    border-radius:50%;
    padding-top:15px;
}

#img2 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.card_texts{
    padding:10px;
    height:500px;
    width:320px;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius:8px;
}
.card_texts button{
    padding:8px;
    margin:8px;
    align-items: center;
    text-align: center;
    border-radius:4px;
    color: rgb(0, 0, 0);
    font-weight:600;
    background-color: rgb(184, 181, 186);
    border: none;

}
#addmember{
    text-align: center;
}
.adding h3{
    padding:30px;
    margin: 10px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    text-align: center;
}
#item_details{
   padding-right: 16px;

}
.card_texts h5{
    gap:19px;
}
.fotter{
    display: flex;
    width:100%;
    height:50vh;
    background-color: rgb(110, 109, 110);
    text-align: center;
    justify-content: center;
    align-items: center;
}
.div1{
    padding:50px;
    margin:50px;
}
.div1 ul li{
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
    
}
.div1 h1{
    color: rgb(130, 0, 190);
}